<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
     <title>Stella Fortuna - Stella Fortuna Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="{{asset('base/img/favicon.ico')}}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" href="{{asset('base/lib/owlcarousel/assets/owl.carousel.min.css')}}" >
    <link rel="stylesheet" href="{{asset('base/lib/animate/animate.min.css')}}" >

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="{{asset('base/css/bootstrap.min.css')}}" >

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{{asset('base/css/style.css')}}" >
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    
    <!-- Topbar End -->


    <!-- Navbar & Carousel Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <a href="/" class="navbar-brand p-0">
                <div class="d-inline-flex align-items-center">
                    <img class="circular-image" src="{{asset('base/img/logo.jpg')}}" height="50" width="65" alt="">
                    <h1 class="mb-0 ms-3">Stella Fortuna</h1>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link active">Home</a>
                   
                  
            </div>
                    
            </div>
        </nav>

      

    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


   

    <!-- Service Start -->
    
    <!-- Service End -->


    <!-- Pricing Plan Start -->
  
    <!-- Pricing Plan End -->


    <!-- Quote Start -->

    <!-- Quote End -->


 <br>
 <br>
 <br>
 <br>
  

    <!-- Topbar Start -->


    
    <div class="container" style="position: relative;">
       
        <div style="position: absolute; top: 0; left: -9%; width: 118%; height: 108%;">
            <img class="circular-image" src="{{asset('base/img/d.jpg')}}" alt="" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        
        <div class="row justify-content-center" style="position: relative; z-index:1 ;">
            <div class="col-md-5 offset-md-6"> <!-- Utilisez la classe offset-md-6 pour déplacer la carte vers la droite -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4">Formulaire pour ajouter une association</h5>
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        <div class="mb-3">
                            {{ form_row(form.nom, {'attr': {'class': 'form-control form-control-sm'}, 'id': 'nom'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.telephone, {'attr': {'class': 'form-control form-control-sm'}, 'id': 'telephone'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.email, {'attr': {'class': 'form-control form-control-sm'}, 'id': 'email'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.lieu, {'attr': {'class': 'form-control form-control-sm'}, 'id': 'lieu'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.codePostal, {'attr': {'class': 'form-control form-control-sm'}, 'id': 'codePostal'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.description, {'attr': {'class': 'form-control form-control-sm'}, 'id': 'description'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.photo, {'attr': {'class': 'form-control form-control-sm'}, 'id': 'photo'}) }}
                        </div>
                        {{ form_row(form.recaptcha) }} 
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
      
    

    <!-- Footer Start -->
   



    
  



   

    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ asset('base/lib/wow/wow.min.js') }}"></script>
    <script src="{{ asset('base/lib/easing/easing.min.js') }}"></script>
    <script src="{{ asset('base/lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ asset('base/lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ asset('base/lib/owlcarousel/owl.carousel.min.js') }}"></script>

    
    <script src="{{ asset('base/js/main.js')}}"></script>
</body>

</html>