{% extends 'base.html.twig' %}

{% block title %}Nouveau Service{% endblock %}

{% block body %}
  <h1>Créer un nouvelle Service</h1>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">Formulaire pour ajouter un Service</h5>
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="mb-3">
                        {{ form_row(form.nom, {'attr': {'class': 'form-control'}, 'id': 'nom'}) }}
                    </div>
        
                <div class="mb-3">
                        {{ form_row(form.categorie, {'attr': {'class': 'form-control'}, 'id': 'categorie'}) }}
                    </div>
                   
                    <div class="mb-3">
                        {{ form_row(form.description, {'attr': {'class': 'form-control'}, 'id': 'description'}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.dureeService, {'attr': {'class': 'form-control'}, 'id': 'dureeServicet'}) }}
                    </div>
                     <div class="mb-3">
                        {{ form_row(form.disponibiliteService, {'attr': {'class': 'form-control'}, 'id': 'disponibiliteServicet'}) }}
                    </div>
                  
                    
                    
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
