

{% block title %}Reclamation index{% endblock %}

{% block body %}

<h1 class="mb-0 ms-3">Stella Fortuna</h1>


  <h1>Liste des Reclamations</h1>
  <br>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Contenu</th>
        <th>Id_utilisateur</th>
        <th>Statut</th>
        <th>Date_en_jour</th>
        
      </tr>
    </thead>
    <tbody>
      {% for reclamation in reclamations %}
      <tr>
        <td>{{ reclamation.id }}</td>
        <td>{{ reclamation.contenue }}</td>
        <td>{{ reclamation.idUtilisateur }}</td>
        <td>{{ reclamation.statut }}</td>
        <td>{{ reclamation.dateEnJour ? reclamation.dateEnJour|date('Y-m-d') : '' }}</td>
        <td>
       
         
      </tr>
      {% endfor %}
      </td>
    </tbody>
  </table>


  
<html lang="en">
<head>
 
</head>

</body>
</html>

  

</div>



{% endblock %}
