{% extends 'base.html.twig' %}
{% block body %}
<section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Datatables</h5>
              <p>Add lightweight datatables to your project with using the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable</p>

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
             <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Email</th>
                <th scope="col">Telephone</th>
                <th scope="col">Type</th>
                <th scope="col">Montant</th>
                <th scope="col">ModeDePaiement</th>
                <th scope="col">Categorie</th>
                <th scope="col">Etat</th>
                <th scope="col">Commentaire</th>
                <th scope="col">Label</th>
                <th scope="col">actions</th>
                   </tr>
                </thead>
                <tbody>
                        {% for don in dons %}

                  <tr>
                 <td>{{don.nom }}</td>
                <td>{{ don.prenom }}</td>
                <td>{{ don.email }}</td>
                <td>{{ don.telephone }}</td>
                <td>{{ don.type }}</td>
                <td>{{ don.montant }}</td>
                <td>{{ don.modeDePaiement }}</td>
                <td>{{ don.categorie }}</td>
                <td>{{ don.etat }}</td>
                <td>{{ don.commentaire }}</td>
                <td>{{ don.label }}</td>
                <td>
                    <a href="{{ path('app_don_show', {'id': don.id}) }}">show</a>
                    <a href="{{ path('app_don_edit', {'id': don.id}) }}">edit</a>
                </td>
                  </tr>
                          {% endfor %}

                   </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>



    {% endblock %}
